.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  background-color: #111;
}
