.main_title {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #333;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {

}

.menu a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  background-color: #111;
}

.inscription-list {
    list-style-type: none;
    padding: 0;
}

.inscription-list li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #2c3e50;
}

.inscription-list a {
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;
}
/* Figures */

figure {
    margin: 20px auto;
    padding: 10px;
    width: 250px; 
    
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    font-size: 0.8rem;
    margin-top: 8px;
    color: #666;
}

