.main_title {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #333;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {

}

.menu a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  background-color: #111;
}

