.main_title {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #333;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {

}

.menu a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  background-color: #111;
}

.inscription-list {
    list-style-type: none;
    padding: 0;
}

.inscription-list li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #2c3e50;
}

.inscription-list a {
    text-decoration: none;
    font-weight: bold;
    color: #2c3e50;
}
/* Figures */
figure {
    margin: 20px auto;
    padding: 10px;
    max-width: 80%;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1); /* Un leggero effetto ombra */
    border-radius: 4px;
}

figcaption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
    font-style: italic;
    line-height: 1.4;
}

