.main_title {
  display: block;
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #333;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

.menu a:hover {
  background-color: #111;
}
